.preset-buttons {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}

.preset-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
